:root {
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header"
                         "sidebar main";
}

header {
    grid-area: header;
    z-index: 2;
    height: 100px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1rem,3vw,2.5rem);
}

#inspiration {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem,2.5vw,1.5rem);
}

#sidebar {
    overflow: auto;
    grid-area: sidebar;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects .project{
    box-sizing: border-box;
    height: 60px;
    padding: 5px 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgb(100, 100, 100);
    transition: all 300ms ease-out;
    background-color: white;
    box-shadow: inset 1px 0px 4px rgba(0,0,0,0.3);
    outline: solid 0.5px rgb(213, 213, 213);
    cursor: pointer;
}

#projects .project.active {
    z-index: 1;
    color: white;
    position: relative;
    padding-left: 9px;
    box-shadow: inset 1px 0px 2px rgba(0,0,0,0.5);
}

#projects .project::after{
    content: "";
    width: 10px;
    height:100%;
    position: absolute;
    right:0;
    top:0;

    transition: 300ms ease-out;
    background-color: cornflowerblue; 
}

#projects .project.active::after {
    z-index: -1;
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background-color: cornflowerblue;
}

#projects .name{
    line-height: 2rem;
    flex: 1;
}


#projects .delete{
    color: palevioletred;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-right: 7px;
    opacity: 0;
    transition: 200ms, margin 400ms ease-out;
}

#projects .active .delete{
    color: white;
    margin-right: 7px;
}

#projects .project:hover .delete{
    opacity: 0.6;
}

#projects .project:hover .delete:hover{
    opacity: 1;
}

main {
    overflow: auto;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: max-content;
    gap: 30px;
}

.card {
    box-sizing: border-box;
    padding: 20px 30px;
    height: 300px;
    background-color: bisque;

    display: flex;
    flex-direction: column;
}

.card .title{
    font-size: 1.3rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .descr {
    margin-bottom: 10px;
    font-size: 0.9rem;

    line-height: 1.1em;
    height: 3.3em;
}

.card .descr:not(textarea){
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .checklist-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.card .checklist-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.card .checklist-item{
    color: grey;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .button-container{
    margin-top: auto;

    display: flex;
    justify-content: space-evenly;

}

.card.done {
    outline: green 4px solid;
}

#todo-background{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

#todo-details{
    padding: 30px 50px;
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aliceblue;
    height: 60vh;
    width: 70vw;
}

#todo-details .title{
    font-size: 2rem;
}

#todo-details textarea.descr{
    font-size: 1.1rem;
    height: 20%;
    resize: none;
    background-color: aqua;

}

#todo-details #more-details{
    height: 50%;
    display: flex;
    flex:1;
    background-color: burlywood;

}

#todo-details .checklist-container{
    font-size: 1.2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: beige;
}

#todo-details .checklist-container ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#todo-details .checklist-container input{
    line-height: 30px;
    padding-left: 10px;
    font-size: 0.9rem;
}

#todo-details .dates{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: beige;
}

#todo-details .button-container{
    display: flex;
    justify-content: center;
    gap: 150px;
    position: relative
}

#todo-details .button-container .done{
    position: absolute;
    right: 0;
}

#checklist {
    overflow: auto;
    height: 100%;
}
#checklist .checklist-item {
    display: flex;
    align-items: center;
}

#checklist input {
    height: 40px;
    width: 90%;
    margin-right: -50px;
}

#checklist .done {
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    position: relative;
    background-color: lightgreen;
    border-radius: 50%;
}
